.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)),url(../public/assests/testimonial_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


@media (max-width : 680px) {
    .hero{
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)),url(../public/assests/testimonial_2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
}