.testimonials{
    width: 100%;
}
.test_content{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}
.test_content p{
    font-size: 18px;
    color: rgb(65, 63, 63);
}
.testmonials_cards_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 40px 0px;
}


@media (max-width : 680px) {
    .testmonials_cards_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        flex-wrap: wrap;
        padding: 40px 0px;
    }
    .test_content p{
        font-size: 14px;
        color: rgb(65, 63, 63);
    }
}
